# Visual Studio
.vs/
*.user
*.suo

# Build .NET
**/bin/
**/obj/

# Logs
*.log

# Outputs générés par l’outil (si tu en crées)
build/
xml/
work/

# do not version embedded python
tools/python/


# python venv
tools/venv313/


# python cache
__pycache__/

